/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/maksukortti/.coverage
/laskarit/viikko2/unicafe/htmlcov/
.DS_store
/laskarit/.DS_Store
/laskarit/viikko2/.DS_Store
/laskarit/viikko2/maksukortti/.DS_Store
/laskarit/viikko2/maksukortti/src/.DS_Store
/laskarit/viikko2/unicafe/.DS_Store
/laskarit/viikko2/unicafe/.coveragerc
/laskarit/viikko2/unicafe/.coverage
/src/entities/__pycache__/
/src/services/__pycache__/
